<nav class="header">
    <a>
      <h1>workStation</h1>
    </a>
    <ul class="header__list">
      <li *ngIf="loginService.isUserLoggedIn()" [routerLink]="[loginService.getCurrentUserName(), 'work-time']">Czas Pracy</li>
      <li *ngIf="loginService.isUserLoggedIn()" [routerLink]="[loginService.getCurrentUserName(), 'absence']">Nieobecności</li>
      <li *ngIf="loginService.isUserLoggedIn()">{{loginService.getCurrentUserName()}}</li>
      <li *ngIf="loginService.isUserLoggedIn()" (click)="loginService.logout()">wyloguj</li>
    </ul>
</nav>