.header {
  background-color: #3498db;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header > a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  margin: 1% 0 1% 2%;
}

.header__list {
  list-style: none;
  display: flex;
}

.header__list > li {
  padding: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.header__list:last-child {
  margin-right: 2%;
}

.header__list > li:hover {
  background-color: #2980b9;
}

.header__list > li:nth-child(3) {
  margin-right: 50px;
}
