<div class="main">
  <div class="main__container">
    <h2>Dodaj nieobecność</h2>
    <div class="container__absence">
      <select (change)="onChange($event)">
        <option hidden disabled selected value>Podaj przyczynę</option>
        <option *ngFor="let absence of absenceList">{{ absence }}</option>
      </select>
    </div>
    <div *ngIf="selectedOption === 'Inne'" class="container__other">
      <input type="text" placeholder="Powód" [(ngModel)]="absenceReason" />
      <button class="other__proceed" (click)="checkInput()">Zatwierdź</button>
      <span class="other__error">{{ errorOther }}</span>
    </div>
    <div class="container__date">
      <div class="date__input">
        <p>Od</p>
        <input type="date" />
      </div>
      <div class="date__input">
        <p>Do</p>
        <input type="date" />
      </div>
    </div>
    <button class="main__proceed" (click)="sendForm($event)">Gotowe</button>
  </div>
</div>
