<div class="main">
  <h1>{{ today | date: "longDate" }}</h1>
  <div class="main__worktime">
    <h2>Czas pracy</h2>
    <div class="worktime__select">
      <select (change)="onChange($event)" class="select__select">
        <option class="select__option" hidden disabled selected value>
          Wybierz zmianę
        </option>
        <option *ngFor="let choice of workChoices">
          {{ choice }}
        </option>
      </select>
    </div>
    <div *ngIf="selectedOption === 'inne'" class="worktime__other">
      <h3>Podaj godziny prac</h3>
      <input [(ngModel)]="workTimeFrom" type="text" placeholder="Od" />
      <input [(ngModel)]="workTimeTo" type="text" placeholder="Do" />
      <button
        class="other__proceed"
        (click)="checkInputs($event)"
      >
        Dodaj godziny
      </button>
      <span class="error">{{ errorStr }}</span>
    </div>
    <div class="worktime__switch">
      <input
        type="checkbox"
        id="switch"
        class="switch__input"
        (click)="isHomeOffice()"
      />
      <label for="switch" class="switch__label">Switch</label>
      <span>Home Office</span>
    </div>
    <button class="worktime__proceed" (click)="checkForm($event)">Gotowe</button>
    <span *ngIf="isFormCorrect === false" class="error">{{ errorFormStr }}</span>
    <span *ngIf="isFormCorrect === true" class="proceed">{{ correctFormStr }}</span>
  </div>
</div>
